@import "media-queries";

$nimbus-extd: "nimbus-sans-extended", sans-serif;
$nimbus-cond-l: "nimbus-sans-condensed", sans-serif;

@mixin larger-devices() {
  @include respond-above(md) {
    @content;
  }
}

.heading-1 {
  font-family: $nimbus-extd;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;

  @include respond-above(sm) {
    font-size: 35px;
  }
}

.heading-2 {
  font-family: $nimbus-cond-l;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;

  @include larger-devices() {
    font-size: 20px;
    line-height: 27px;
  }
}

