<app-header></app-header>

<section>
  <!-- Display error messages top of screen -->
  <p *ngIf="errorMessage">{{ errorMessage }}</p>

  <!-- Main content displaying curation of service status -->
  <!-- This can be extracted to it's own component to make it modular -->
  <!-- For simiplicity leaving this as is -->
  <ul
    class="status-container"
    *ngIf="items$ | async as cards; else loadingTemplate"
  >
    <li *ngFor="let card of cards">
      <app-status-card [item]="card"></app-status-card>
    </li>
  </ul>

  <!-- Display spinner until content loaded -->
  <ng-template #loadingTemplate>
    <app-spinner></app-spinner>
  </ng-template>
</section>
